
.register-box{
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  z-index: 0;
}

/* color */
.color-temp{
  color:rgb(42,160,160);
}
.color-temp-bg{
  background-color:rgb(42,160,160);
}

mat-card{
 
  border-radius: 10px; /* Optionally, round the corners for a frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  box-shadow: 0 0 10px rgba(109, 109, 109, 0.5); /* Add a subtle shadow */
}

.register-card{
  width: 800px;
}
/* for password only */
.form-feild{
  width: 100%;
  border-radius: 20px;
}
h1{
  font-weight: 700;
  font-size: 2rem;
  color:  #3f51b5;
}
h3{
  font-weight: 700;
  color:  #6d6d6d;
}
.column-container {
  display: block;
}

@media (max-width: 600px) {
  .mat-form-field-label {
    font-size: 22px; /* Reduce the font size for smaller screens */
  }
  mat-card{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  
}
@media(max-height:400px) {
  .mat-form-field-label {
    font-size: 22px; /* Reduce the font size for smaller screens */
  }
  mat-card{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}


