.bg-img{
  height: 86.5vh;
  background-image:url("src/assets/img/Multitasking-rafiki.png");/* Replace 'path-to-your-image.jpg' with the actual path to your image */
  background-size: cover; /* Adjust this property to control how the image covers the element */
  background-position: center; /* Adjust this property to control the position of the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.register-box{
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-size: cover;
}
/* color */
.color-temp{
  color:rgb(42,160,160);
}
.color-temp-bg{
  background-color:rgb(42,160,160);
}

mat-card{
  backdrop-filter: blur(30px); /* Apply a blur effect */
  border-radius: 10px; /* Optionally, round the corners for a frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  box-shadow: 0 0 10px rgba(42, 160,160, 0.7); /* Add a subtle shadow */
}

.register-card{
  width: 800px;
}
/* for password only */
.form-feild{
  width: 100%;
  border-radius: 20px;
}
h1{
  font-weight: 700;
  font-size: 2rem;
  color:  #3f51b5;
}
h3{
  font-weight: 700;
  color:  #6d6d6d;
}
.column-container {
  display: block;
}
@media screen and (max-width: 600px) {
  .register-card{
    width: 100%;
  }
  .bg-img{
    height: 100vh;
  }
  .mat-form-field-label{
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .mat-form-field-label {
    font-size: 12px; /* Reduce the font size for smaller screens */
  }
}

@media (max-width: 600px) {
  .mat-form-field .mat-form-field-label {
    font-size: 12px; /* Reduce the font size for smaller screens */
  }
}