<div class="container-fluid">
  <div class="container-fluid">
    <div class="row mt-5">
      <mat-form-field class="col-12  col-sm-6 col-lg-2">
        <input matInput (keyup)="applyFilter($event)" placeholder="search">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="card">
        <div class="d-flex justify-content-between">
        <h2 class="mt-2">Attendance details</h2>
        <!--button was here  -->
        <button (click)="openAddUserDialog()" class="mt-1" mat-mini-fab>
          <mat-icon aria-label="Example icon-button">person_add</mat-icon>
        </button>
      </div>
      <div class="card-body">          
        <div class="example-container">
        
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="Employee_ID">
              <th mat-header-cell *matHeaderCellDef>Employee ID </th>
              <td mat-cell *matCellDef="let element"> {{element.Employee_ID}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="EmployeeName">
              <th mat-header-cell *matHeaderCellDef> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.EmployeeName}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef>Role  </th>
              <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef>Email </th>
              <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>
            <ng-container matColumnDef="PhoneNumber">
              <th mat-header-cell *matHeaderCellDef>Phone no </th>
              <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="DOB">
              <th mat-header-cell *matHeaderCellDef>DOB </th>
              <td mat-cell *matCellDef="let element"> {{ element.DOB }} </td>
            </ng-container>
            
            <ng-container matColumnDef="Supervisor">
              <th mat-header-cell *matHeaderCellDef>Supervisor</th>
              <td mat-cell *matCellDef="let element"> {{ element.Supervisor }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
      </div> 
    </div>
  </div>
</div>
