<div class="container-fluid">
  <div class="row pt-3 mb-3">
    <div class="col-12 text-center">
      <div class="managemnet-title">Employee Management</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xl-12 mb-3">
      <mat-card>
        <mat-card-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="add-employee">Add Employee</div>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row pt-2">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">person_add</i></mat-icon>
                  <mat-label>Employee First Name</mat-label>
                  <input matInput [formControl]="firstName" matInput type="text" placeholder="">
                  <mat-error *ngIf="firstName.invalid">Firstname is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">person_add</i></mat-icon>
                  <mat-label>Employee Last Name</mat-label>
                  <input matInput [formControl]="lastName" matInput type="text" placeholder="">
                 <mat-error *ngIf="lastName.invalid">Lastname is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">calendar_month</i></mat-icon>
                  <mat-label>Total Working Days</mat-label>
                  <input matInput [formControl]="Total" matInput type="text" placeholder="">
                  <mat-error *ngIf="Total.invalid">No. of Working days is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-label>Employee DOB</mat-label>     
                  <input matInput [formControl]="DOB" [matDatepickerFilter]="myFilter" [matDatepicker]="picker2">
                  <mat-datepicker-toggle matIconPrefix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="DOB.invalid">DOB is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">email</i></mat-icon>
                  <mat-label>Employee Email</mat-label>
                  <input matInput [formControl]="employeeEmail" matInput type="text" placeholder="">
                  <mat-error *ngIf="employeeEmail.invalid">Employee Email is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">contact_phone</i></mat-icon>
                  <mat-label>Contact No</mat-label>
                  <input matInput [formControl]="contactNo" type="text" placeholder="">
                  <mat-error *ngIf="contactNo.invalid">Contact No. is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">developer_board</i></mat-icon>
                  <mat-label>Roles</mat-label>
                  <input matInput [formControl]="roles" type="text" placeholder="">
                  <mat-error *ngIf="roles.invalid">Roles is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-custom-width" appearance="outline">
                  <mat-icon matPrefix><i class="material-icons">supervisor_account</i></mat-icon>
                  <mat-label>Supervisor</mat-label>
                  <input matInput [formControl]="supervisor" type="text" placeholder="">
                  <mat-error *ngIf="supervisor.invalid">Supervisor Name is Required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="d-flex justify-content-end">
                  <button mat-raised-button (click)="onSaveClick()" style="color: whitesmoke; background-color: #2aa0a0;">Add Employee</button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="add-employee">Employee Details</div>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-container" style="overflow: auto;">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="Employee_ID">
                      <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                      <td mat-cell *matCellDef="let element">
                        <div>{{element.FirstName+' '+element.LastName}}</div>
                        <div>{{element.Username}}</div>
                      </td>
                    </ng-container>
        
                    <ng-container matColumnDef="EmployeeName">
                      <th mat-header-cell *matHeaderCellDef>Role</th>
                      <td mat-cell *matCellDef="let element" [ngStyle]="getRoleTextStyle(element.Designation)">
                        {{ element.Designation }}
                      </td>
                    </ng-container>
                    
        
                    <ng-container matColumnDef="Role">
                      <th mat-header-cell *matHeaderCellDef>Supervisior</th>
                       <td mat-cell *matCellDef="let element"> {{ element.Supervisor }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Email">
                      <th mat-header-cell *matHeaderCellDef>Working Days</th>
                      <td mat-cell *matCellDef="let element">
                        <div>TotalWorkingDays:{{ element.TotalWorkingDays }}</div>
                        <div>Remaining: {{element.TotalWorkingDays- 50}}</div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="PhoneNumber">
                      <th mat-header-cell *matHeaderCellDef>Phone no </th>
                      <td mat-cell *matCellDef="let element"> 
                        <div>{{element.ContactNo}}</div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="DOB">
                      <th mat-header-cell *matHeaderCellDef>DOB </th>
                      <td mat-cell *matCellDef="let element"> {{ element.formattedDate }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Supervisor">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="openEditEmployee(element)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="deleteEmployee(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator></div>
                
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>