.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .btn{
    width: 200px;
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0;
  }
  .example-container {
    max-height: 33vh;
    overflow: auto;
  }
  div::-webkit-scrollbar{
    display: none;
  }  
  table {
    width: 100%;
  }
  h3{
    height: 2vh;
  }

  table th{
    font-size: 1.2rem;
    font-weight: 600;
  }