<div class="container-fluid">
  <div class="row model-head mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
      <div class="model-title">Update Assign task</div>
    </div>
  </div>
  <form class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="example-custom-width" appearance="outline">
        <mat-icon matPrefix><i class="material-icons">person_add</i></mat-icon>
        <mat-label>Employee Name</mat-label>
        <input matInput [formControl]="EmployeeName"  [(ngModel)]="task.EmployeeName
        "matInput type="text" placeholder="" [disabled]="true">
        <mat-error *ngIf="EmployeeName.invalid">Firstname is Required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="from-field" appearance="outline">
        <mat-label>Supervisor</mat-label>
        <mat-select placeholder="Pick one" [formControl]="Supervisor" name="Supervisor"  [(ngModel)]="task.Supervisor">
          <mat-option *ngFor="let supervisor of supervisorOptions" [value]="supervisor.Username">
            {{ supervisor.FirstName }} {{ supervisor.LastName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="Supervisor.hasError('required')">Please select a Supervisor</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="from-field" appearance="outline">
        <mat-label>Project Title</mat-label>
        <mat-select placeholder="Pick one" [formControl]="Projecttitle" name="Project" >
          <mat-option *ngFor="let project of projectTitle" [value]="project.ProjectId">
            {{ project.ProjectTitle }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="Projecttitle.hasError('required')">Please select a Project Title.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="from-field" appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput type="text" [formControl]="Status" [(ngModel)]="task.status" required name="Status"   >
        <mat-error *ngIf="Status.invalid">Remarks is Required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="from-field" appearance="outline">
        <mat-label>Remarks</mat-label>
        <input matInput type="text" [formControl]="Remarks" [(ngModel)]="task.Remark" required name="Remarks">
        <mat-error *ngIf="Remarks.invalid">Remarks is Required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-2">
      <mat-form-field class="from-field" appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select placeholder="Priority" [formControl]="Priority" required name="Priority">
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
        <mat-error *ngIf="Priority.invalid">Priority is Required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-2">
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate [formControl]="StartDate" placeholder="Start date" required name="StartDate">
          <input matEndDate [formControl]="EndDate" placeholder="End date" required name="EndDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="StartDate.invalid || EndDate.invalid">Invalid Date Range.</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-12">
        <button mat-raised-button mat-dialog-close class="w-100 mt-1">Close</button>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
        <button mat-raised-button style="background: rgb(45, 160, 160);" class="w-100 mt-1" type="submit"
          (click)="SaveTaskSheet()">Save</button>
      </div>
    </div>
  </form>
</div>