.timesheet{
    text-align: center;
    margin-top: 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 7px;
  }
  
  table {
    width:100%;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding: 3px;
    font-size: 14px;
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
 