.footer {
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100%; 
    background-color: rgb(42,160,160,255);
    color: whitesmoke;
    justify-content: center;
    z-index: 100;
}

.footer-title{
    text-align: center;
    color: whitesmoke;
    font-size: 1.2rem;
}

.footer-link{
    color: whitesmoke;
}

.footer-link:hover{
    color: black;
}