<div class="container-fluid">
  <div class="row justify-content-center mt-2">
    <div class="col-md-8">
      <h1 class="text-center"><b>Leave Details</b></h1>
    </div>
  </div>
  <div class="card">
  <mat-tab-group  color="accent">
    <mat-tab label="Pending">
      <div class="card-body">          
        <div class="example-container">        
          <table mat-table [dataSource]="dataSource">  
            <!-- Position Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef>Date </th>
              <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="EmployeeName">
              <th mat-header-cell *matHeaderCellDef> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FirstName}}&nbsp;{{element.LastName}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Leave">
              <th mat-header-cell *matHeaderCellDef>Leave Type </th>
              <td mat-cell *matCellDef="let element"> {{element.TypeOfLeave}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Days">
              <th mat-header-cell *matHeaderCellDef>No. of Days </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalLeaveDays}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.IsApproved}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Actions </th>
              <td mat-cell *matCellDef="let element" >
                <button mat-flat-button style="background-color: green; color: whitesmoke;">Approve</button>
                &nbsp;
                <button mat-flat-button style="background-color: red; color: whitesmoke;">Decline</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef></th>
              <td  class="align" mat-cell *matCellDef="let element" >
                <button mat-icon-button color="dark" (click)="open(element)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>
            
            
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>   
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Approved">
      <div class="card-body">          
        <div class="example-container">        
          <table mat-table [dataSource]="dataSource2">  
            <!-- Position Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="EmployeeName">
              <th mat-header-cell *matHeaderCellDef> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FirstName}}&nbsp;{{element.LastName}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Leave">
              <th mat-header-cell *matHeaderCellDef>Leave Type </th>
              <td mat-cell *matCellDef="let element"> {{element.TypeOfLeave}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Days">
              <th mat-header-cell *matHeaderCellDef>No. of Days </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalLeaveDays}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.IsApproved}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" >
              </td>
            </ng-container>
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="align" mat-cell *matCellDef="let element" >
                <button mat-icon-button color="dark" (click)="open(element)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>   
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Declined"> 
      <div class="card-body">          
        <div class="example-container">        
          <table mat-table [dataSource]="dataSource3">  
            <!-- Position Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="EmployeeName">
              <th mat-header-cell *matHeaderCellDef> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FirstName}}&nbsp;{{element.LastName}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Leave">
              <th mat-header-cell *matHeaderCellDef>Leave Type  </th>
              <td mat-cell *matCellDef="let element"> {{element.TypeOfLeave}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Days">
              <th mat-header-cell *matHeaderCellDef>No. of Days </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalLeaveDays}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.IsApproved}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" >
                
              </td>
            </ng-container>
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="align" mat-cell *matCellDef="let element" >
                <button mat-icon-button color="dark"  (click)="open(element)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>
            
                       
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>   
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>