mat-card{
    justify-content: space-between;
    background-color: rgba(42, 160, 160);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

}
mat-card-content{
    text-align: center;
    font-size: 22px;
}
.align{
  text-align: right;
}

.example-container {
    height: 70vh;
    overflow: auto;
  }
  div::-webkit-scrollbar{
    display: none;
  }  
  table {
    width: 100%;
  }