<div class="container-fluid mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center"><b>Leave Details</b></h1>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 display-4">
            <mat-card>
                  <mat-card-content>23</mat-card-content>
                  <mat-card-content>Approved Leave</mat-card-content>
              </mat-card>
        </div> 
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 display-4">
            <mat-card>
                  <mat-card-content>03</mat-card-content>
                  <mat-card-content>Rejected Leave</mat-card-content>
              </mat-card>
        </div> 
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 display-4">
            <mat-card>
                  <mat-card-content>05</mat-card-content>
                  <mat-card-content>Upcoming Holidays</mat-card-content>
              </mat-card>
        </div>        
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="card">
          <h2 class="mt-2">Leave details</h2>         
            
              <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
               
        </div>
    </div>
</div>










