<div class="container-fluid">
  <div class="container-fluid">
    <div class="row mt-4">
      <section class="col-12 col-sm-4 col-lg-4">      
        <div class="card chart-card">
          <div class="card-body pb-0">
            <h4 class="card-title font-weight-bold">Total Employee</h4>
            <div class="d-flex justify-content-between">
              <p class="display-4 align-self-end">887.32</p>
            </div>
          </div>
        </div>        
      </section>
  
      <!-- Card 2: On-Time Percentage -->
      <section class="col-12 col-sm-4 col-lg-4">      
        <div class="card chart-card">
          <div class="card-body pb-0">
            <h4 class="card-title font-weight-bold">On Time Percentage</h4>
            <div class="d-flex justify-content-between">
              <p class="display-4 align-self-end">887.32</p>
            </div>
          </div>
        </div>        
      </section>
  
      <!-- Card 3: Late Percentage -->
      <section class="col-12 col-sm-4 col-lg-4">      
        <div class="card chart-card">
          <div class="card-body pb-0">
            <h4 class="card-title font-weight-bold">Late Percentage</h4>
            <div class="d-flex justify-content-between">
              <p class="display-4 align-self-end">887.32</p>
            </div>
          </div>
        </div>        
      </section>
    </div>
  
    <div class="row mt-4">
      <section class="col-12 col-sm-6 col-lg-6">      
        <div class="card chart-card">
          <div class="card-body pb-0">
            <h4 class="card-title font-weight-bold">Employee Attendance</h4>            
            <div [style.height.vh]="50" id="chartContainer"></div>
          </div>
        </div>        
      </section>
  
      <!-- Card 3: Late Percentage -->
      <section class="col-12 col-sm-6 col-lg-6">      
        <div class="card chart-card">
          <div class="card-body pb-0">
            <h4 class="card-title font-weight-bold">Designation Wise Employee</h4>
            <div [style.height.vh]="50" id="pieChartContainer"></div>
          </div>
        </div>        
      </section>
    </div>
  </div>
</div>
