.qr{
    height:83vh;
}
.small-row{
  height: 50px;
}
  .example-container {
    height: 280px;
    max-width: 100%;
    overflow: auto;
  }
  mat-header-cell{
    text-align: center;
  }
  mat-cell{
    text-align: center;
  }