<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <h1 class="text-center">Employee Details </h1>
    </div>
    <div class="container mt-1">
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="row ">
                    <div class="mb-3">
                        <mat-card>
                            <div class="card-body h4b-0 text-center"> <!-- Add the text-center class here -->
                                <h4 class="dish4lay-6 align-self-end">88</h4>                         
                              <h5 class="card-title font-weight-bold">Days Left</h5>
                                
                            </div>
                          </mat-card>
                    </div>
                    <div class=" my-3">
                        <mat-card>
                            <div class="card-body h4b-0 text-center"> <!-- Add the text-center class here -->
                                <h4 class="dish4lay-6 align-self-end">32</h4>
                              <h5 class="card-title font-weight-bold">Days Comh4leted</h5>
                                                         
                            </div>
                          </mat-card>
                    </div>
                    <div class=" my-3">
                        <mat-card>
                            <div class="card-body h4b-0 text-center"> <!-- Add the text-center class here -->
                                <h4 class="dish4lay-6 align-self-end">2</h4>
                              <h5 class="card-title font-weight-bold">Number Of Leave</h5>
                                                     
                            </div>
                          </mat-card>
                    </div>
                    <div class=" my-3">
                        <mat-card>
                            <div class="card-body h4b-0 text-center"> <!-- Add the text-center class here -->
                                <h4 class="dish4lay-6 align-self-end">32</h4>
                              <h5 class="card-title font-weight-bold">No. Of Days h4resent</h5>
                                                         
                            </div>
                          </mat-card>
                    </div>


                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6 mt-5">
                <div class="row mx-1 ">
                    <mat-card>
                      
                    </mat-card>
                  </div>

            </div>      
                  
            <div class="col-md-3 col-sm-3 col-3">
                <div class="row">
                    <mat-card>
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </mat-card>
                </div>
            </div>


        </div>

    </div>
</div>