<div class="container-fluid">
    <div class="card-header">
        <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
            <div class="model-title">Add New Employee</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-2">
            <div class="col-sm-6 col-6 ">
            <mat-form-field class="example-full-width">
                <mat-label>Employee Name</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-sm-6 col-6  ">
            <mat-form-field class="example-full-width">
                <mat-label>Employee DOB</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-sm-6 col-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Email</mat-label>
                    <input matInput type="text" placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-6 col-6 ">
            <mat-form-field class="example-full-width">
                <mat-label>Contact No</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-sm-6 col-6  ">
            <mat-form-field class="example-full-width">
                <mat-label>Roles</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-sm-6 col-6 ">
            <mat-form-field class="example-full-width">
                <mat-label>Supervisor</mat-label>
                <input matInput type="text" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-md-6 justify-content-end d-flex mb-2">
                <button mat-raised-button class="btn btn-primary" (click)="onNoClick()">Close</button>
            </div>
            <div class="col-md-6 mb-2">
                <button mat-raised-button class="btn btn-primary">Save</button>
            </div>
        </div>        
    </div>
</div>
