h4,h1{
    font-weight: 600;
    color: rgb(66, 66, 66);
    flex-grow: inherit;
}

/* Hide scrollbars on all screens */
::-webkit-scrollbar {
    display: none;
}
.input-full-width
{
    width: 100%;
}
.btn{
    width: fit-content;
}
/* @media(min-width: 768px) {
    h4 {
        font-size: 10px;
      }
    
}
@media(min-width: 1000px) {
    h4 {
        font-size: 18px;
      }
    
} */
/* @media (width <= 1300px){
    h4{
        font-size: 15px;
    }
    
}
@media (width >1050px){
    h4{
        font-size:0.7rem;
    }
    
} */
/* @media (width <768px){
    h4{
        font-size:16px;
        color: aqua;
    }
    
}
@media (width >768px){
    h4{
        font-size:10px;
        color: rgb(14, 85, 34);
    }
    
}

@media (width >1200px){
    h4{
        font-size:14px;
    }
    
} */
