h4,h1{
    font-weight: 600;
    color: rgb(66, 66, 66);
    flex-grow: inherit;
}

/* Hide scrollbars on all screens */
::-webkit-scrollbar {
    display: none;
}
.input-full-width
{
    width: 100%;
}
.btn{
    width: fit-content;
}
@media (max-width: 576px) {
    h1 {
      font-size: 24px;
    }
    h4 {
      font-size: 18px;
    }
    .mat-label,
    input,
    mat-select,
    textarea {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  
  /* Larger screens */
  @media (min-width: 577px) {
    h1 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    .mat-label,
    input,
    mat-select,
    textarea {
      font-size: 18px;
      line-height: 1.6;
    }
  }